* {margin:0;padding:0}
.header h1{width: 800px;height: 446px;margin: 0 auto}
.TheSuperSimpleSlider {width:665px; height: 436px;margin: 0 auto;position: relative; overflow: hidden}
.content {width: 800px;height: 446px;margin: 0 auto;display: block;background: url("../img/bg_main.jpg") no-repeat center top}
.content .description{width: 1px;height: 1px;display: block;overflow: hidden;text-indent: -999999px;position: absolute}
.footer {width: 800px;height: 45px;margin: 0 auto;background-color: #3c4f81;text-align: right}
/* Slider */
.TheSuperSimpleSlider .TheSuperSimpleSlider-slideshow { position: relative; padding-top: 30px}
.TheSuperSimpleSlider .TheSuperSimpleSlider-slideshow .TheSuperSimpleSlider-figure { display: block; position: relative; float: left}
.TheSuperSimpleSlider .TheSuperSimpleSlider-slideshow .TheSuperSimpleSlider-figure img { display: block}
.TheSuperSimpleSlider .TheSuperSimpleSlider-navegacao { width: 100%;text-align: center; position: absolute;*z-index: 99999;top: 20px}
.TheSuperSimpleSlider .TheSuperSimpleSlider-navegacao ul li{     display: inline-block;*display: inline;*zoom:1}
.TheSuperSimpleSlider .TheSuperSimpleSlider-navegacao a {width: 15px;height: 14px;display: block;background-image: url("../img/bolinhas.png");background-repeat: no-repeat;background-position: 0 0;text-indent: -999999px;overflow: hidden}
.TheSuperSimpleSlider .TheSuperSimpleSlider-navegacao a.TheSuperSimpleSlider-ativo {background-position: -15px 0}
.TheSuperSimpleSlider .TheSuperSimpleSlider-arrow { position: absolute; width: 22px; height: 92px; top: 160px; overflow: hidden;background-repeat: no-repeat;background-image: url("../img/prev_next.png");text-indent: -999999px}
.TheSuperSimpleSlider .TheSuperSimpleSlider-arrow-prev { left: 0; background-position: left bottom;}
.TheSuperSimpleSlider .TheSuperSimpleSlider-arrow-next { right: 0; background-position: left top; }
/* Final Slider */